<div class="progress-bar">
  <ng-container *ngIf="url == '/test/basic'">
    <div class="steps">
      <ul>
        <li class="now">
          <p>STEP 1</p>
        </li>
        <li>
          <p>STEP 2</p>
        </li>
        <li>
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li>
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li>
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right"></div>
      <div class="left"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/essence'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="now">
          <p>STEP 2</p>
        </li>
        <li>
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li>
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/confirm'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="now">
          <p>STEP 2</p>
        </li>
        <li>
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li>
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/preferences'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="now">
          <p>STEP 2</p>
        </li>
        <li>
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li>
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/non-essence'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="past">
          <p>STEP 2</p>
        </li>
        <li class="now">
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left complete"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/non-essence/preferences'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="past">
          <p>STEP 2</p>
        </li>
        <li class="now">
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="now">
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left complete"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="url == '/test/result'">
    <div class="steps">
      <ul>
        <li class="past">
          <p>STEP 1</p>
        </li>
        <li class="past">
          <p>STEP 2</p>
        </li>
        <li class="past">
          <p>STEP 3</p>
        </li>
      </ul>
    </div>
    <div class="mark">
      <ul>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
        <li class="past">
          <span></span>
          <span class="checkmark"></span>
        </li>
      </ul>
    </div>
    <div class="line">
      <div class="right complete"></div>
      <div class="left complete"></div>
    </div>
  </ng-container>
</div>
