/********************
  共通スタイルシート
********************/

/**** 共通 ****/
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #595957;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #595957;
  &:hover {
    color: #595957;
  }
}
body {
  max-width: 500px;
  margin: 0 auto;
}
header {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  padding: 11px 0;
  .logo {
    width: 150px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
.progress-bar {
  width: 95%;
  margin: 20px auto;
  .steps {
    margin-bottom: 5px;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: calc(100% / 3);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 1em;
        }
        &.past {
        }
        &.now {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
    }
  }
  .mark {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        width: calc(100% / 3);
        text-align: center;
        span {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #E4E4E4;
          border: 2px solid #FFF;
          margin: 0 auto;
          &.checkmark {
            display: none;
          }
        }
        &.past {
          position: relative;
          span {
            width: 17px;
            height: 17px;
            background: #FFCD1E;
            &.checkmark {
              height: 9px;
              width: 4px;
              display: block;
              border-radius: inherit;
              background: transparent;
              border: inherit;
              margin: 0 auto;
              position: absolute;
              top: 3px;
              right: 0;
              left: 0;
              border-bottom: solid 3px #FFF;
              border-right: solid 3px #FFF;
              transform: rotate(45deg);
            }
          }
        }
        &.now {
          span {
            width: 20px;
            height: 20px;
            background: #FFCD1E;
          }
        }
      }
    }
  }
  .line {
    width: 70%;
    display: flex;
    margin: 0 auto;
    .right {
      height: 5px;
      background: #E4E4E4;
      margin: 0 auto;
      margin-top: -14px;
      width: 50%;
      z-index: -1;
      &.complete {
        background: #FFCD1E;
      }
    }
    .left {
      height: 5px;
      background: #E4E4E4;
      margin: 0 auto;
      margin-top: -14px;
      width: 50%;
      z-index: -1;
      &.complete {
        background: #FFCD1E;
      }
    }
  }
}
main {
}
.button-area {
  padding: 15px 0 30px 0;
  &.flex {
    display: flex;
    justify-content: center;
  }
  button {
    border: none;
    &.next {
      background-color: #FFCD1E;
      color: #FFF;
      display: block;
      text-align: center;
      padding: 5px 40px;
      font-size: 1.5em;
      font-weight: bold;
      transition: .1s ease;
      border-radius: 50px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
      margin: 0 auto;
      margin-bottom: 15px;
    }
    &.back {
      background-color: #E4E4E4;
      color: #595957;
      display: block;
      text-align: center;
      padding: 5px 40px;
      font-size: 1.2em;
      font-weight: bold;
      transition: .1s ease;
      border-radius: 50px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
      margin: 0 auto;
      margin-bottom: 15px;
    }
    &:disabled {
      background-color: #E4E4E4;
      color: #595957;
    }
  }
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  a {
    &.back {
      background-color: #E4E4E4;
      color: #595957;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em;
    }
    &.next {
      background-color: #E4E4E4;
      color: #595957;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em;
      transition: .1s ease;
      &:active {
        background-color: #FFCD1E;
        color: #FFF;
      }
    }
  }
  button {
    width: 100%;
    border: none;
    &.back {
      background-color: #E4E4E4;
      color: #595957;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em;
    }
    &.next {
      background-color: #FFCD1E;
      color: #FFF;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em;
      transition: .1s ease;
      &:active {
        background-color: #FFCD1E;
        color: #FFF;
      }
    }
    &:disabled {
      background-color: #E4E4E4;
      color: #595957;
    }
  }
  &.half {
    display: flex;
    a {
      width: 50%;
      &.next {
        background-color: #E4E4E4;
        color: #595957;
        display: block;
        text-align: center;
        padding: 13px;
        font-size: 1.5em;
        transition: .1s ease;
        &:active {
          background-color: #FFCD1E;
          color: #FFF;
        }
      }
    }
  }
}
.errors {
  margin: 20px auto;
  text-align: center;
  li {
    font-size: 1.2em;
    text-align: center;
    color: #FFF;
    background-color: #FF786B;
    display: inline-block;
    padding: 3px 30px;
    border-radius: 5px;
  }
}

//レート評価 変数
$starFull: 16px;//星1個の幅
$starHalf: $starFull / 2;//星半分（0.5）の幅

$rate1: $starFull;//星1
$rate1-5: $starFull + $starHalf;//星1.5
$rate2: $starFull * 2;//星2
$rate2-5: ($starFull * 2) + $starHalf;//星2.5
$rate3: $starFull * 3;//星3
$rate3-5: ($starFull * 3) + $starHalf;//星3.5
$rate4: $starFull * 4;//星4
$rate4-5: ($starFull * 4) + $starHalf;//星4.5
$rate5 :$starFull * 5;//星5

.rate{
  position: relative;
  display: inline-block;
  width: $starFull * 5;
  height: $starFull;
  font-size: $starFull;
  &:before,&:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: $starFull;
    line-height: $starFull;
  }
  &:before{
  color: #ddd;
  }
  &:after{
  color: #FFCD1E;
  overflow: hidden;
  white-space: nowrap;//これがないと改行されて星の半分（0.5）が表現できなくなる
  }
}
.rate0:after{//星0
  width: 0;
}
.rate1:after{//星1
  width: $rate1;
}
.rate1-5:after{//星1.5
  width: $rate1-5;
}
.rate2:after{//星2
  width: $rate2;
}
.rate2-5:after{//星2.5
  width: $rate2-5;
}
.rate3:after{//星3
  width: $rate3;
}
.rate3-5:after{//星3.5
  width: $rate3-5;
}
.rate4:after{//星4
  width: $rate4;
}
.rate4-5:after{//星4.5
  width: $rate4-5;
}
.rate5:after{//星5
  width: $rate5;
}
.star-wrap{
  width: 80px;
  margin: 0 auto;
}
