/********************
  診断フェーズ本質質問
********************/
/**** 質問 ****/
main {
  .wrap-essence {
    .question {
      max-width: 90%;
      margin: 0 auto;
      p {
        &.main {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          margin: 12px ;
        }
        &.alert {
          font-size: 1.1em;
          text-align: center;
          margin: 5px ;
          span {
            font-size: 1.7em;
            font-weight: bold;
            color: #F95344;
          }
        }
      }
    }
    .answer ul li {
      background-color: #F3F3F3;
      transition: .1s ease;
      &:active {
        background-color: #777777;
      }
      &:not(last-child) {
        border-bottom:solid 1px #000;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
        .label {
          font-size: 2em;
          font-weight: bold;
          width: 95%;
        }
        .rectangle {
          width: 18px;
          height: 18px;
          border-left: 4px solid #C4C4C4;
          border-bottom: 4px solid #C4C4C4;
          transform: rotate(225deg);
        }
      }
    }
    .episodes {
      ul {
        li {
          padding: 14px 20px;
          display: flex;
          align-items: center;
          input {
            display: none;
            &:checked {
              & + label {
                .checkmark {
                  border-left: 4px solid #F95344;
                  border-bottom: 4px solid #F95344;
                }
                .label {
                  color: #F95344;
                }
              }
            }
          }
          label {
            display: flex;
            align-items: center;
            .checkmark {
              width: 16px;
              height: 7px;
              border-left: 4px solid #C4C4C4;
              border-bottom: 4px solid #C4C4C4;
              transform: rotate(-45deg);
            }
            .label {
              font-size: 1.7em;
              font-weight: bold;
              margin-left: 15px;
            }
          }
        }
      }
    }
    .confirm {
      max-width: 90%;
      margin: 0 auto;
      padding: 0 5%;
      height: calc(100vh - 113px);
      background-color: #222;
      p {
        color: #FFF;
        &.main {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          padding: 12px ;
        }
        &.alert {
          font-size: 1.1em;
          text-align: center;
          margin: 5px ;
        }
      }
      .select-episode {
        margin-top: 30px;
        li {
          font-size: 1.5em;
          color: #FFF;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
    .preferences {
      max-width: 90%;
      margin: 0 auto;
      ul {
        li {
          .episode {
            font-size: 1.7em;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 7px;
            border-bottom: solid 1px #000;
          }
          ul.preference-list {
            li {
              padding: 10px 0px;
              display: flex;
              align-items: center;
              input {
                display: none;
                &:checked {
                  & + label {
                    .checkmark {
                      border-left: 3px solid #F95344;
                      border-bottom: 3px solid #F95344;
                    }
                    .label {
                      color: #F95344;
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: center;
                .checkmark {
                  width: 13px;
                  height: 5px;
                  border-left: 3px solid #C4C4C4;
                  border-bottom: 3px solid #C4C4C4;
                  transform: rotate(-45deg);
                }
                .label {
                  font-size: 1.5em;
                  font-weight: bold;
                  margin-left: 15px;
                }
              }
            }
          }
        }
      }
    }
    .overlay {
      background: rgba(0, 0, 0, 0.4);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      .modal {
        overflow: hidden;
        background-color: #FFF;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
        z-index: 1001;
        width: 80%;
        border-radius: 5px;
        padding: 10px;
        .contents {
          height: 60%;
          width: 100%;
          text-align: center;
          font-size: 1.8em;
          ul {
            li {
              padding: 5px 0px;
              display: flex;
              align-items: center;
              border: none;
              background-color: #FFF;
              input {
                display: none;
                &:checked {
                  & + label {
                    .checkmark {
                      border-left: 3px solid #F95344;
                      border-bottom: 3px solid #F95344;
                    }
                    .label {
                      color: #F95344;
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: center;
                .checkmark {
                  width: 13px;
                  height: 5px;
                  border-left: 3px solid #C4C4C4;
                  border-bottom: 3px solid #C4C4C4;
                  transform: rotate(-45deg);
                }
                .label {
                  font-size: 0.7em;
                  font-weight: bold;
                  margin-left: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/**** 嗜好性選択 ****/
