/********************
  診断フェーズ非本質質問
********************/
/**** 質問 ****/
main {
  .wrap-non-essence {
    .question {
      max-width: 90%;
      margin: 0 auto;
      p {
        &.main {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          margin: 12px ;
        }
        &.alert {
          font-size: 1.1em;
          text-align: center;
          margin: 5px ;
        }
      }
    }
    .answer ul li {
      background-color: #F3F3F3;
      transition: .1s ease;
      &:active {
        background-color: #777777;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
        .label {
          font-size: 2em;
          font-weight: bold;
          width: 95%;
        }
        .rectangle {
          width: 18px;
          height: 18px;
          border-left: 4px solid #C4C4C4;
          border-bottom: 4px solid #C4C4C4;
          transform: rotate(225deg);
        }
      }
    }
    .episodes {
      ul {
        li {
          padding: 14px 20px;
          display: flex;
          align-items: center;
          .checkmark {
            width: 16px;
            height: 7px;
            border-left: 4px solid #C4C4C4;
            border-bottom: 4px solid #C4C4C4;
            transform: rotate(-45deg);
          }
          .label {
            font-size: 1.7em;
            font-weight: bold;
            margin-left: 15px;
          }
          &.active {
            .checkmark {
              border-left: 4px solid #F95344;
              border-bottom: 4px solid #F95344;
            }
            .label {
              color: #F95344;
            }
          }
        }
      }
    }
  }
}
/**** 嗜好性選択 ****/
