/********************
  提案フェーズ
********************/
/**** 質問 ****/
main {
  .wrap-recommend{
    .recommend-list {
      max-width: 100%;
      margin: 0 auto;
      p {
        &.main {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          margin: 12px ;
          span {
            font-size: 1.5em;
            color: #FF786B;
          }
        }
      }
      .recommendations {
        .recommend-item {
          background-position: center;
          background-size: cover;
          color: #FFF;
          .filter {
            padding: 140px 15px 10px 15px;
            background: linear-gradient(0deg, #333, 20%, transparent);
            .top {
              display: flex;
              align-items: flex-end;
              margin-bottom: 10px;
              .title-copy {
                width: 60%;
                .title {
                }
                .bar {
                  width: 100%;
                  height: 2px;
                  display: block;
                  background: linear-gradient(to right, #FFF 50%, transparent);
                  margin: 3px 0 6px;
                }
                .copy {
                  font-size: 1.7em;
                  font-weight: bold;
                }
              }
              .info {
                width: 35%;
                margin-left: 5%;
                span {
                  font-size: 1.1em;
                }
                .star-flex {
                  display: flex;
                  align-items: center;
                  .star-wrap {
                    width: 80px;
                    .rate {
                      font-size: 16px;
                    }
                  }
                  .number {
                    width: calc(100% - 80px);
                    font-size: 21px;
                    text-align: center;
                    font-weight: bold;
                  }
                }
              }
            }
            .bottom {
              ul {
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
                display: flex;
                &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                  display:none;
                }
                li {
                  background-color: #FFCD1E;
                  border-radius: 50px;
                  margin-right: 7px;
                  padding: 2px 8px;
                  font-size: 1.1em;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .recommend-detail {
      .fv {
        margin-bottom: 30px;
        img {
          width: 100%;
          display: block;
        }
      }
      .info-wrap {
        width: 90%;
        display: block;
        margin: 0 auto;
        .top {
          display: flex;
          align-items: flex-end;
          margin-bottom: 10px;
          .title-copy {
            width: 60%;
            .title {
              font-size: 1em;
            }
            .bar {
              width: 100%;
              height: 2px;
              display: block;
              background: linear-gradient(to right, #000 50%, transparent);
              margin: 3px 0 6px;
            }
            .copy {
              font-size: 1.7em;
              font-weight: bold;
            }
          }
          .info {
            width: 35%;
            margin-left: 5%;
            span {
              font-size: 1.1em;
            }
            .star-flex {
              display: flex;
              align-items: center;
              .star-wrap {
                width: 80px;
                .rate {
                  font-size: 16px;
                }
              }
              .number {
                width: calc(100% - 80px);
                font-size: 21px;
                text-align: center;
                font-weight: bold;
              }
            }
          }
        }
        .bottom {
          ul {
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            display: flex;
            &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
              display:none;
            }
            li {
              background-color: #FFCD1E;
              border-radius: 50px;
              margin-right: 7px;
              padding: 2px 8px;
              font-size: 1.1em;
              font-weight: bold;
              color: #FFF;
            }
          }
        }
      }
      .overview {
        width: 90%;
        display: block;
        margin: 0 auto;
        background-color: #F3F3F3;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        .text {
          padding: 10px;
          font-size: 1.2em;
          span {
            display: block;
            font-size: 1.1em;
            border-bottom: solid 1px;
            margin-bottom: 7px;
            font-weight: bold;
          }
        }
      }
      .blocks {
        width: 90%;
        display: block;
        margin: 0 auto;
        li {
          margin-bottom: 15px;
          .heading {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .image {
            margin-bottom: 15px;
            img {
              width: 100%;
              display: block;
            }
          }
          .content {
            p {
              font-size: 1.2em;
            }
          }
        }
      }
    }
    .loading {
      display: block;
      margin: 0 auto;
      margin-top: 150px;
      .message {
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
      }
      .loading-icon {
        width: 50px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
    .loading2 {
      width: 100%;
      height: calc(100vh - 64px);
      //background: #000;
      background: radial-gradient(73.01% 73.01% at 50% 26.99%, #262628 0%, #262628 18.8%, #000000 100%);
      .message {
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
        color: #FFF;
      }
      .loading-icon {
        width: 170px;
        margin: 0 auto;
        padding-top: 100px;
        img {
          width: 100%;
        }
      }
    }
  }
}
/**** 嗜好性選択 ****/
