/********************
  診断フェーズ嗜好性結果
********************/
/**** 質問 ****/
main {
  .wrap-result {
    .question {
      max-width: 90%;
      margin: 0 auto;
      p {
        &.main {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          margin: 12px ;
        }
        &.alert {
          font-size: 1.1em;
          text-align: center;
          margin: 5px ;
          span {
            font-size: 1.7em;
            font-weight: bold;
            color: #F95344;
          }
        }
      }
    }
    .answer {
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 70px;
      ul {
        li {
          .content-area {
            background-color: #F3F3F3;
            padding: 15px;
            .q-mark {
              font-weight: bold;
              font-size: 1.5em;
            }
            .q-title {
              font-weight: bold;
              font-size: 1.4em;
              margin: 7px 0;
            }
            textarea {
              resize: none;
              border: 1px solid #eee;
              width: calc(100% - 18px);
              height: 70px;
              border-radius: 5px;
              font-size: 1.3em;
              padding: 9px;
            }
          }
        }
      }
      .add-q {
        background-color: #FFCD1E;
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1.4em;
        margin-top: 20px;
        border-radius: 5px;
      }
      .remove-q {
        background-color: #F3F3F3;
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 1.4em;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
      }
    }
    .preferences {
      max-width: 90%;
      margin: 0 auto;
      ul {
        li {
          .episode {
            font-size: 1.7em;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 7px;
            border-bottom: solid 1px #000;
          }
          ul.preference-list {
            li {
              padding: 5px 0px;
              display: flex;
              align-items: center;
              input {
                display: none;
                &:checked {
                  & + label {
                    .checkmark {
                      border-left: 3px solid #F95344;
                      border-bottom: 3px solid #F95344;
                    }
                    .label {
                      color: #F95344;
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: center;
                .checkmark {
                  width: 13px;
                  height: 5px;
                  border-left: 3px solid #C4C4C4;
                  border-bottom: 3px solid #C4C4C4;
                  transform: rotate(-45deg);
                }
                .flex {
                  .count {
                    font-size: 1em;
                    margin-left: 15px;
                    span {
                      color: #F95344;
                      font-weight: bold;
                      font-size: 1.2em;
                    }
                  }
                  .label {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-left: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .overlay {
      position: absolute;
      top: 64.14px;
      width: 100%;
      height: calc(100vh - 64.14px);
      background: rgba(0, 0, 0, 0.8);
      ul {
        li {
          font-size: 1.5em;
          color: #FFF;
        }
      }
    }
  }
}
/**** 嗜好性選択 ****/
