<main>
  <div class="wrap-recommend">
    <div class="recommend-detail">
      <div class="fv">
        <img src="../assets/img/{{ actData.act_main_img }}.jpg" alt="">
      </div>
      <div class="info-wrap">
        <div class="top">
          <p class="title">あなたにしか取れない写真を撮りに行こう</p>
          <div class="info">
            <span>あなたへのおすすめ度</span>
            <div class="star-flex">
              <div class="star-wrap">
                <span class="rate {{ actData.rate_classname }}"></span>
              </div>
              <div class="number">
                {{ actData.recommend_rate }}
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <ul>
            <li *ngFor="let pref of actData.preferences">{{ pref.pref_label }}</li>
          </ul>
        </div>
      </div>
      <ul class="blocks">
        <li *ngFor="let info of actData.actinfos">
          <h2 class="heading">{{ info.act_heading }}</h2>
          <div class="image">
            <img src="../assets/img/recommend_datail_01.jpg" alt="">
          </div>
          <div class="content">
            <p>{{ info.act_text }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
