<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">あなたが大学時代に頑張った<br>活動カテゴリーを選んでください。</p>
      <p class="alert">あとエピソードを<span>{{ 3 - form.value.episode.length }}</span>つ選んでね</p>
    </div>
    <!-- {{ this.form.value.episode | json }} -->
    <div class="answer" *ngIf="episodes">
      <form [formGroup]="form">
        <ul class="epi-categories">
          <li>
            <a href="javascript:void(0);" (click)="addClass(0)" [class]="opened[0]">
              <div class="label" id="{{ episodeCats[0].id }}">{{ episodeCats[0].label }}</div>
              <div class="rectangle" id="{{ episodeCats[0].id }}"></div>
            </a>
            <ng-container *ngIf="episode_0">
              <ul>
                <li *ngFor="let item of episode_0" formArrayName="episode">
                  <input id="{{ episodeCats[0].id }}{{ item.id }}" type="checkbox" name="episode" [value]="item.epi_label_2" (change)="onChange(item.epi_label_2, item.id, $event, item.epi_cat)">
                  <label for="{{ episodeCats[0].id }}{{ item.id }}">
                    <div class="checkmark"></div>
                    <p class="label">{{ item.epi_label_2 }}</p>
                  </label>
                </li>
              </ul>
            </ng-container>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="addClass(1)" [class]="opened[1]">
              <div class="label" id="{{ episodeCats[1].id }}">{{ episodeCats[1].label }}</div>
              <div class="rectangle" id="{{ episodeCats[1].id }}"></div>
            </a>
            <ng-container *ngIf="episode_1">
              <ul>
                <li *ngFor="let item of episode_1" formArrayName="episode">
                  <input id="{{ episodeCats[1].id }}{{ item.id }}" type="checkbox" name="episode" [value]="item.epi_label_2" (change)="onChange(item.epi_label_2, item.id, $event, item.epi_cat)">
                  <label for="{{ episodeCats[1].id }}{{ item.id }}">
                    <div class="checkmark"></div>
                    <p class="label">{{ item.epi_label_2 }}</p>
                  </label>
                </li>
              </ul>
            </ng-container>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="addClass(2)" [class]="opened[2]">
              <div class="label" id="{{ episodeCats[2].id }}">{{ episodeCats[2].label }}</div>
              <div class="rectangle" id="{{ episodeCats[2].id }}"></div>
            </a>
            <ng-container *ngIf="episode_2">
              <ul>
                <li *ngFor="let item of episode_2" formArrayName="episode">
                  <input id="{{ episodeCats[2].id }}{{ item.id }}" type="checkbox" name="episode" [value]="item.epi_label_2" (change)="onChange(item.epi_label_2, item.id, $event, item.epi_cat)">
                  <label for="{{ episodeCats[2].id }}{{ item.id }}">
                    <div class="checkmark"></div>
                    <p class="label">{{ item.epi_label_2 }}</p>
                  </label>
                </li>
              </ul>
            </ng-container>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="addClass(3)" [class]="opened[3]">
              <div class="label" id="{{ episodeCats[3].id }}">{{ episodeCats[3].label }}</div>
              <div class="rectangle" id="{{ episodeCats[3].id }}"></div>
            </a>
            <ng-container *ngIf="episode_3">
              <ul>
                <li *ngFor="let item of episode_3" formArrayName="episode">
                  <input id="{{ episodeCats[3].id }}{{ item.id }}" type="checkbox" name="episode" [value]="item.epi_label_2" (change)="onChange(item.epi_label_2, item.id, $event, item.epi_cat)">
                  <label for="{{ episodeCats[3].id }}{{ item.id }}">
                    <div class="checkmark"></div>
                    <p class="label">{{ item.epi_label_2 }}</p>
                  </label>
                </li>
              </ul>
            </ng-container>
          </li>
          <li>
            <a href="javascript:void(0);" (click)="addClass(4)" [class]="opened[4]">
              <div class="label" id="{{ episodeCats[4].id }}">{{ episodeCats[4].label }}</div>
              <div class="rectangle" id="{{ episodeCats[4].id }}"></div>
            </a>
            <ng-container *ngIf="episode_4">
              <ul>
                <li *ngFor="let item of episode_4" formArrayName="episode">
                  <input id="{{ episodeCats[4].id }}{{ item.id }}" type="checkbox" name="episode" [value]="item.epi_label_2" (change)="onChange(item.epi_label_2, item.id, $event, item.epi_cat)">
                  <label for="{{ episodeCats[4].id }}{{ item.id }}">
                    <div class="checkmark"></div>
                    <p class="label">{{ item.epi_label_2 }}</p>
                  </label>
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </form>
    </div>
    <!--
    <ng-template #loading>
      <div class="loading">
        <p class="message">診断中です...</p>
        <div class="loading-icon">
          <img src="../assets/img/icon_loader.gif" alt="">
        </div>
      </div>
    </ng-template>
    -->
  </div>
</main>
