<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">あなたが大学時代に頑張った<br>活動カテゴリーを選んでください。</p>
      <p class="alert">あとエピソードを3つ選んでね</p>
    </div>
    <div class="answer">
      <!-- <ng-template *ngComponentOutlet="modal" (newItemEvent)="addItem($event)"></ng-template> -->
      <app-modal *ngIf="flag == true" (newItemEvent)="addItem($event)"></app-modal>
      <ul>
        <li *ngFor="let episodeCat of episodeCats; index as i" ontouchstart="">
          <a href="javascript:void(0);">
            <ng-container *ngIf = "i == 0">{{ items_ph.length }}</ng-container>
            <ng-container *ngIf = "i == 1">{{ items_cl.length }}</ng-container>
            <ng-container *ngIf = "i == 2">{{ items_sc.length }}</ng-container>
            <ng-container *ngIf = "i == 3">{{ items_ac.length }}</ng-container>
            <ng-container *ngIf = "i == 4">{{ items_bz.length }}</ng-container>
            <div class="label" (click)="onClick($event)" id="{{ episodeCat.id }}">{{ episodeCat.label }}</div>
            <div class="rectangle" (click)="onClick($event)" id="{{ episodeCat.id }}"></div>
            <!--
            <div class="label" (click)="onSubmit($event)" id="{{ episodeCat.id }}">{{ episodeCat.label }}</div>
            <div class="rectangle" (click)="onSubmit($event)" id="{{ episodeCat.id }}"></div>
            -->
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
