<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">学生の時に頑張ったことを教えて！！<br>エピソードを三つ選んで！</p>
      <p class="alert">あとエピソードを3つ選んでね</p>
    </div>
    <div class="answer">
      <ul>
        <li *ngFor="let episodeCat of episodeCats" ontouchstart="">
          <a href="javascript:void(0);">
            <div class="label" (click)="onSubmit($event)" id="{{ episodeCat.id }}">{{ episodeCat.label }}</div>
            <div class="rectangle" (click)="onSubmit($event)" id="{{ episodeCat.id }}"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
