<main>
  <div class="wrap-basic">
    <div class="question">
      <p class="main">基本情報の入力</p>
    </div>
    <div class="answer">
      <ul class="question-list">
        <li class="question-index">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="03-D" name="radio" checked="checked">
              <label for="03-D" class="radio"></label>
              <p>男性</p>
            </li>
            <li>
              <input type="radio" id="03-E" name="radio">
              <label for="03-E" class="radio"></label>
              <p>女性</p>
            </li>
            <li>
              <input type="radio" id="03-F" name="radio">
              <label for="03-2" class="radio"></label>
              <p>その他</p>
            </li>
          </ul>
        </li>
        <li class="question-index">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="03-D" name="radio" checked="checked">
              <label for="03-D" class="radio"></label>
              <p>男性</p>
            </li>
            <li>
              <input type="radio" id="03-E" name="radio">
              <label for="03-E" class="radio"></label>
              <p>女性</p>
            </li>
            <li>
              <input type="radio" id="03-F" name="radio">
              <label for="03-2" class="radio"></label>
              <p>その他</p>
            </li>
          </ul>
        </li>
        <li class="question-index">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="03-D" name="radio" checked="checked">
              <label for="03-D" class="radio"></label>
              <p>男性</p>
            </li>
            <li>
              <input type="radio" id="03-E" name="radio">
              <label for="03-E" class="radio"></label>
              <p>女性</p>
            </li>
            <li>
              <input type="radio" id="03-F" name="radio">
              <label for="03-2" class="radio"></label>
              <p>その他</p>
            </li>
          </ul>
        </li>
        <li class="question-index">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="03-D" name="radio" checked="checked">
              <label for="03-D" class="radio"></label>
              <p>男性</p>
            </li>
            <li>
              <input type="radio" id="03-E" name="radio">
              <label for="03-E" class="radio"></label>
              <p>女性</p>
            </li>
            <li>
              <input type="radio" id="03-F" name="radio">
              <label for="03-2" class="radio"></label>
              <p>その他</p>
            </li>
          </ul>
        </li>
        <li class="question-index">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="03-D" name="radio" checked="checked">
              <label for="03-D" class="radio"></label>
              <p>男性</p>
            </li>
            <li>
              <input type="radio" id="03-E" name="radio">
              <label for="03-E" class="radio"></label>
              <p>女性</p>
            </li>
            <li>
              <input type="radio" id="03-F" name="radio">
              <label for="03-2" class="radio"></label>
              <p>その他</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer>
  <a class="next" href="#" routerLink="/test/essence" ontouchstart="">次へ</a>
</footer>
