<main>
  <div class="wrap-basic">
    <div class="question">
      <p class="main">基本情報の入力</p>
    </div>
    <div class="answer">
      <ul class="question-list">
        <li class="question-index" *ngFor="let basic of basics">
          <p class="title"><span>1.</span>あなたが自身が認識している性別を教えてください</p>
          <ul class="choices">
            <li>
              <input type="radio" id="{{ basic.label01 }}{{ basic.id }}" name="{{ basic.id }}">
              <label for="{{ basic.label01 }}{{ basic.id }}" class="radio"></label>
              <p>{{ basic.label01 }}</p>
            </li>
            <li>
              <input type="radio" id="{{ basic.label02 }}{{ basic.id }}" name="{{ basic.id }}">
              <label for="{{ basic.label02 }}{{ basic.id }}" class="radio"></label>
              <p>{{ basic.label02 }}</p>
            </li>
            <li>
              <input type="radio" id="{{ basic.label03 }}{{ basic.id }}" name="{{ basic.id }}">
              <label for="{{ basic.label03 }}{{ basic.id }}" class="radio"></label>
              <p>{{ basic.label03 }}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer>
  <a class="next" href="#" routerLink="/test/essence" ontouchstart="">次へ</a>
</footer>
