<main>
  <div class="wrap-non-essence">
    <div class="question">
      <p class="main">先ほど記入したエピソードのどういう所が楽しかったり充実感に繋がっていましたか</p>
      <p class="alert">○個以上選んでください。</p>
    </div>
    <div class="preferences">
      <ul>
        <li>
          <ul class="preference-list">
            <li *ngFor="let data of datas">
              <input id="{{ data.id }}" type="checkbox" name="preference">
              <label for="{{ data.id }}">
                <div class="checkmark"></div>
                <p class="label">{{ data.pref_label }}</p>
              </label>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer>
  <a href="#" class="next" routerLink="/recommend">提案画面へ進む</a>
</footer>
