@charset "UTF-8";
/********************
  共通スタイルシート
********************/
/**** 共通 ****/
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

/********************
  導入フェーズスタイルシート
********************/
body main.intro {
  background-color: #000;
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro .image-treasure img {
    width: 100%; }
  body main.intro .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro .progress {
    margin-bottom: 20px; }
    body main.intro .progress ul {
      text-align: center; }
      body main.intro .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }
