@charset "UTF-8";
/********************
  共通スタイルシート
********************/
/**** 共通 ****/
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #000; }
  a:hover {
    color: #000; }

body {
  max-width: 500px;
  margin: 0 auto; }

header {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 11px 0; }
  header .logo {
    width: 150px;
    margin: 0 auto; }
    header .logo img {
      width: 100%; }

main {
  margin-bottom: 60px; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0; }
  footer a.back {
    background-color: #E4E4E4;
    color: #595957;
    display: block;
    text-align: center;
    padding: 13px;
    font-size: 1.5em; }
  footer a.next {
    background-color: #E4E4E4;
    color: #595957;
    display: block;
    text-align: center;
    padding: 13px;
    font-size: 1.5em;
    transition: .1s ease; }
    footer a.next:active {
      background-color: #FFCD1E;
      color: #FFF; }
  footer button {
    width: 100%;
    border: none; }
    footer button.back {
      background-color: #E4E4E4;
      color: #595957;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em; }
    footer button.next {
      background-color: #FFCD1E;
      color: #FFF;
      display: block;
      text-align: center;
      padding: 13px;
      font-size: 1.5em;
      transition: .1s ease; }
      footer button.next:active {
        background-color: #FFCD1E;
        color: #FFF; }
    footer button:disabled {
      background-color: #E4E4E4;
      color: #595957; }
  footer.half {
    display: flex; }
    footer.half a {
      width: 50%; }
      footer.half a.next {
        background-color: #E4E4E4;
        color: #595957;
        display: block;
        text-align: center;
        padding: 13px;
        font-size: 1.5em;
        transition: .1s ease; }
        footer.half a.next:active {
          background-color: #FFCD1E;
          color: #FFF; }

.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px; }
  .rate:before, .rate:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 16px;
    line-height: 16px; }
  .rate:before {
    color: #ddd; }
  .rate:after {
    color: #FFCD1E;
    overflow: hidden;
    white-space: nowrap; }

.rate0:after {
  width: 0; }

.rate1:after {
  width: 16px; }

.rate1-5:after {
  width: 24px; }

.rate2:after {
  width: 32px; }

.rate2-5:after {
  width: 40px; }

.rate3:after {
  width: 48px; }

.rate3-5:after {
  width: 56px; }

.rate4:after {
  width: 64px; }

.rate4-5:after {
  width: 72px; }

.rate5:after {
  width: 80px; }

.star-wrap {
  width: 80px;
  margin: 0 auto; }

/********************
  導入フェーズ01スタイルシート
********************/
body main.intro01 {
  background: radial-gradient(73.01% 73.01% at 50% 26.99%, #262628 0%, #262628 18.8%, #000000 100%);
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro01 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro01 .image-treasure img {
    width: 100%; }
  body main.intro01 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro01 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro01 .progress {
    margin-bottom: 20px; }
    body main.intro01 .progress ul {
      text-align: center; }
      body main.intro01 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro01 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro01 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px;
    transition: .15s ease; }
    body main.intro01 .next:active {
      background-color: #FFCD1E; }

/********************
  導入フェーズ02スタイルシート
********************/
body main.intro02 {
  background-image: url(../img/intro02_bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro02 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro02 .image-treasure img {
    width: 100%; }
  body main.intro02 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro02 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro02 .progress {
    margin-bottom: 20px; }
    body main.intro02 .progress ul {
      text-align: center; }
      body main.intro02 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro02 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro02 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }

/********************
  導入フェーズ03スタイルシート
********************/
body main.intro03 {
  background: radial-gradient(73.01% 73.01% at 50% 26.99%, #262628 0%, #262628 18.8%, #000000 100%);
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro03 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro03 .image-treasure img {
    width: 100%; }
  body main.intro03 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro03 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro03 .progress {
    margin-bottom: 20px; }
    body main.intro03 .progress ul {
      text-align: center; }
      body main.intro03 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro03 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro03 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }

/********************
  診断フェーズ基本質問
********************/
/**** 質問 ****/
main .wrap-basic .question {
  max-width: 90%;
  margin: 0 auto; }
  main .wrap-basic .question p.main {
    font-size: 1.5em;
    text-align: center;
    margin: 12px; }

main .wrap-basic .answer {
  width: 85%;
  margin: 0 auto; }
  main .wrap-basic .answer ul {
    margin-bottom: 80px; }
    main .wrap-basic .answer ul.question-list li.question-index p.title {
      text-align: center;
      font-size: 1.7em;
      font-weight: bold; }
      main .wrap-basic .answer ul.question-list li.question-index p.title span {
        font-size: 1.6em;
        font-weight: bold;
        margin-right: 10px; }
    main .wrap-basic .answer ul.question-list li.question-index ul.choices {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px; }
      main .wrap-basic .answer ul.question-list li.question-index ul.choices li input[type=radio] {
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
      main .wrap-basic .answer ul.question-list li.question-index ul.choices li .radio {
        display: block;
        margin: 0 auto;
        position: relative;
        width: auto;
        width: 50px;
        height: 50px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
        main .wrap-basic .answer ul.question-list li.question-index ul.choices li .radio::before {
          background: #FFF;
          border: 3px solid #E4E4E4;
          border-radius: 50%;
          content: '';
          display: block;
          height: 30px;
          width: 30px;
          position: absolute;
          top: 44%;
          right: 0;
          left: 0;
          margin: 0 auto; }
        main .wrap-basic .answer ul.question-list li.question-index ul.choices li .radio::after {
          background: #FFCD1E;
          border-radius: 50%;
          content: '';
          display: block;
          height: 30px;
          width: 30px;
          left: 3px;
          opacity: 0;
          position: absolute;
          top: 50%;
          transform: scale3d(0.3, 0.3, 1);
          transition: transform .2s ease-in-out, opacity .2s ease-in-out;
          right: 0;
          left: 0;
          margin: 0 auto; }
      main .wrap-basic .answer ul.question-list li.question-index ul.choices li input[type=radio]:checked + .radio::after {
        opacity: 1;
        transform: scale3d(1, 1, 1); }
      main .wrap-basic .answer ul.question-list li.question-index ul.choices li p {
        text-align: center;
        margin-top: 14px;
        font-size: 1.2em; }
    main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(3) .radio::before {
      width: 20px;
      height: 20px;
      top: 51%; }
    main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(3) .radio::after {
      width: 20px;
      height: 20px;
      top: 57%; }
    main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(1) .radio::before, main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(5) .radio::before {
      width: 40px;
      height: 40px;
      top: 34%; }
    main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(1) .radio::after, main .wrap-basic .answer ul.question-list li.question-index ul.five li:nth-child(5) .radio::after {
      width: 40px;
      height: 40px;
      top: 40%; }

/**** 嗜好性選択 ****/
/********************
  診断フェーズ本質質問
********************/
/**** 質問 ****/
main .wrap-essence .question {
  max-width: 90%;
  margin: 0 auto; }
  main .wrap-essence .question p.main {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin: 12px; }
  main .wrap-essence .question p.alert {
    font-size: 1.1em;
    text-align: center;
    margin: 5px; }
    main .wrap-essence .question p.alert span {
      font-size: 1.7em;
      font-weight: bold;
      color: #F95344; }

main .wrap-essence .answer ul li {
  background-color: #F3F3F3;
  transition: .1s ease; }
  main .wrap-essence .answer ul li:active {
    background-color: #777777; }
  main .wrap-essence .answer ul li:not(last-child) {
    border-bottom: solid 1px #000; }
  main .wrap-essence .answer ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px; }
    main .wrap-essence .answer ul li a .label {
      font-size: 2em;
      font-weight: bold;
      width: 95%; }
    main .wrap-essence .answer ul li a .rectangle {
      width: 18px;
      height: 18px;
      border-left: 4px solid #C4C4C4;
      border-bottom: 4px solid #C4C4C4;
      transform: rotate(225deg); }

main .wrap-essence .episodes ul li {
  padding: 14px 20px;
  display: flex;
  align-items: center; }
  main .wrap-essence .episodes ul li input {
    display: none; }
    main .wrap-essence .episodes ul li input:checked + label .checkmark {
      border-left: 4px solid #F95344;
      border-bottom: 4px solid #F95344; }
    main .wrap-essence .episodes ul li input:checked + label .label {
      color: #F95344; }
  main .wrap-essence .episodes ul li label {
    display: flex;
    align-items: center; }
    main .wrap-essence .episodes ul li label .checkmark {
      width: 16px;
      height: 7px;
      border-left: 4px solid #C4C4C4;
      border-bottom: 4px solid #C4C4C4;
      transform: rotate(-45deg); }
    main .wrap-essence .episodes ul li label .label {
      font-size: 1.7em;
      font-weight: bold;
      margin-left: 15px; }

main .wrap-essence .confirm {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  height: calc(100vh - 113px);
  background-color: #222; }
  main .wrap-essence .confirm p {
    color: #FFF; }
    main .wrap-essence .confirm p.main {
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
      padding: 12px; }
    main .wrap-essence .confirm p.alert {
      font-size: 1.1em;
      text-align: center;
      margin: 5px; }
  main .wrap-essence .confirm .select-episode {
    margin-top: 30px; }
    main .wrap-essence .confirm .select-episode li {
      font-size: 1.5em;
      color: #FFF;
      font-weight: bold;
      margin-bottom: 10px; }

main .wrap-essence .preferences {
  max-width: 90%;
  margin: 0 auto; }
  main .wrap-essence .preferences ul li .episode {
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: solid 1px #000; }
  main .wrap-essence .preferences ul li ul.preference-list li {
    padding: 10px 0px;
    display: flex;
    align-items: center; }
    main .wrap-essence .preferences ul li ul.preference-list li input {
      display: none; }
      main .wrap-essence .preferences ul li ul.preference-list li input:checked + label .checkmark {
        border-left: 3px solid #F95344;
        border-bottom: 3px solid #F95344; }
      main .wrap-essence .preferences ul li ul.preference-list li input:checked + label .label {
        color: #F95344; }
    main .wrap-essence .preferences ul li ul.preference-list li label {
      display: flex;
      align-items: center; }
      main .wrap-essence .preferences ul li ul.preference-list li label .checkmark {
        width: 13px;
        height: 5px;
        border-left: 3px solid #C4C4C4;
        border-bottom: 3px solid #C4C4C4;
        transform: rotate(-45deg); }
      main .wrap-essence .preferences ul li ul.preference-list li label .label {
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 15px; }

/**** 嗜好性選択 ****/
/********************
  診断フェーズ非本質質問
********************/
/**** 質問 ****/
main .wrap-non-essence .question {
  max-width: 90%;
  margin: 0 auto; }
  main .wrap-non-essence .question p.main {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin: 12px; }
  main .wrap-non-essence .question p.alert {
    font-size: 1.1em;
    text-align: center;
    margin: 5px; }

main .wrap-non-essence .answer {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 70px; }
  main .wrap-non-essence .answer ul li .content-area {
    background-color: #F3F3F3;
    padding: 15px; }
    main .wrap-non-essence .answer ul li .content-area .q-mark {
      font-weight: bold;
      font-size: 1.5em; }
    main .wrap-non-essence .answer ul li .content-area .q-title {
      font-weight: bold;
      font-size: 1.4em;
      margin: 7px 0; }
    main .wrap-non-essence .answer ul li .content-area textarea {
      resize: none;
      border: 1px solid #eee;
      width: calc(100% - 18px);
      height: 70px;
      border-radius: 5px;
      font-size: 1.3em;
      padding: 9px; }
  main .wrap-non-essence .answer .add-q {
    background-color: #FFCD1E;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    margin-top: 20px;
    border-radius: 5px; }
  main .wrap-non-essence .answer .remove-q {
    background-color: #F3F3F3;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px; }

main .wrap-non-essence .preferences {
  max-width: 90%;
  margin: 0 auto; }
  main .wrap-non-essence .preferences ul li .episode {
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: solid 1px #000; }
  main .wrap-non-essence .preferences ul li ul.preference-list li {
    padding: 10px 0px;
    display: flex;
    align-items: center; }
    main .wrap-non-essence .preferences ul li ul.preference-list li input {
      display: none; }
      main .wrap-non-essence .preferences ul li ul.preference-list li input:checked + label .checkmark {
        border-left: 3px solid #F95344;
        border-bottom: 3px solid #F95344; }
      main .wrap-non-essence .preferences ul li ul.preference-list li input:checked + label .label {
        color: #F95344; }
    main .wrap-non-essence .preferences ul li ul.preference-list li label {
      display: flex;
      align-items: center; }
      main .wrap-non-essence .preferences ul li ul.preference-list li label .checkmark {
        width: 13px;
        height: 5px;
        border-left: 3px solid #C4C4C4;
        border-bottom: 3px solid #C4C4C4;
        transform: rotate(-45deg); }
      main .wrap-non-essence .preferences ul li ul.preference-list li label .label {
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 15px; }

/**** 嗜好性選択 ****/
/********************
  提案フェーズ
********************/
/**** 質問 ****/
main .wrap-recommend .recommend-list {
  max-width: 100%;
  margin: 0 auto; }
  main .wrap-recommend .recommend-list p.main {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin: 12px; }
    main .wrap-recommend .recommend-list p.main span {
      font-size: 1.5em;
      color: #FF786B; }
  main .wrap-recommend .recommend-list .recommendations .recommend-item {
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 140px 15px 10px 15px; }
    main .wrap-recommend .recommend-list .recommendations .recommend-item .top {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      main .wrap-recommend .recommend-list .recommendations .recommend-item .top .title {
        width: 60%;
        font-size: 1.8em;
        font-weight: bold; }
      main .wrap-recommend .recommend-list .recommendations .recommend-item .top .info {
        width: 35%;
        margin-left: 5%; }
        main .wrap-recommend .recommend-list .recommendations .recommend-item .top .info span {
          font-size: 1.1em; }
    main .wrap-recommend .recommend-list .recommendations .recommend-item .bottom ul {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      display: flex; }
      main .wrap-recommend .recommend-list .recommendations .recommend-item .bottom ul::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none; }
      main .wrap-recommend .recommend-list .recommendations .recommend-item .bottom ul li {
        background-color: #FFCD1E;
        border-radius: 50px;
        margin-right: 7px;
        padding: 2px 8px;
        font-size: 1.1em;
        font-weight: bold; }

main .wrap-recommend .recommend-detail .fv {
  margin-bottom: 30px; }
  main .wrap-recommend .recommend-detail .fv img {
    width: 100%;
    display: block; }

main .wrap-recommend .recommend-detail .info-wrap {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px; }
  main .wrap-recommend .recommend-detail .info-wrap .top {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    main .wrap-recommend .recommend-detail .info-wrap .top .title {
      width: 60%;
      font-size: 2em;
      font-weight: bold; }
    main .wrap-recommend .recommend-detail .info-wrap .top .info {
      width: 35%;
      margin-left: 5%; }
      main .wrap-recommend .recommend-detail .info-wrap .top .info span {
        font-size: 1.1em; }
      main .wrap-recommend .recommend-detail .info-wrap .top .info .star-flex {
        display: flex;
        align-items: center; }
        main .wrap-recommend .recommend-detail .info-wrap .top .info .star-flex .star-wrap {
          width: 80px; }
          main .wrap-recommend .recommend-detail .info-wrap .top .info .star-flex .star-wrap .rate {
            font-size: 16px; }
        main .wrap-recommend .recommend-detail .info-wrap .top .info .star-flex .number {
          width: calc(100% - 80px);
          font-size: 21px;
          text-align: center;
          font-weight: bold; }
  main .wrap-recommend .recommend-detail .info-wrap .bottom ul {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex; }
    main .wrap-recommend .recommend-detail .info-wrap .bottom ul::-webkit-scrollbar {
      /* Chrome, Safari 対応 */
      display: none; }
    main .wrap-recommend .recommend-detail .info-wrap .bottom ul li {
      background-color: #FFCD1E;
      border-radius: 50px;
      margin-right: 7px;
      padding: 2px 8px;
      font-size: 1.1em;
      font-weight: bold;
      color: #FFF; }

main .wrap-recommend .recommend-detail .blocks {
  width: 90%;
  display: block;
  margin: 0 auto; }
  main .wrap-recommend .recommend-detail .blocks li {
    margin-bottom: 30px; }
    main .wrap-recommend .recommend-detail .blocks li .heading {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 30px; }
    main .wrap-recommend .recommend-detail .blocks li .image {
      margin-bottom: 30px; }
      main .wrap-recommend .recommend-detail .blocks li .image img {
        width: 100%;
        display: block; }
    main .wrap-recommend .recommend-detail .blocks li .content p {
      font-size: 1.1em; }

/**** 嗜好性選択 ****/
