<main>
  <div class="wrap-essence">
    <div class="confirm">
      <p class="main">あなたが大学時代に頑張った<br>活動カテゴリーを選んでください。</p>
      <p class="main">こちらの三つを選びました</p>
      <p class="alert">間違いないですか？</p>
      <ul class="select-episode">
        <ng-container *ngIf="epicat_1.length > 0">
          <p>体育会系部活・サークル</p>
          <li *ngFor="let episode of epicat_1">
            {{ episode.label }}
          </li>
        </ng-container>
        <ng-container *ngIf="epicat_2.length > 0">
          <p>文化系部活・サークル</p>
          <li *ngFor="let episode of epicat_2">
            {{ episode.label }}
          </li>
        </ng-container>
        <ng-container *ngIf="epicat_3.length > 0">
          <p>ソーシャル系課外活動</p>
          <li *ngFor="let episode of epicat_3">
            {{ episode.label }}
          </li>
        </ng-container>
        <ng-container *ngIf="epicat_4.length > 0">
          <p>ビジネス系課外活動</p>
          <li *ngFor="let episode of epicat_4">
            {{ episode.label }}
          </li>
        </ng-container>
        <ng-container *ngIf="epicat_5.length > 0">
          <p>学業関連（研究・留学など）</p>
          <li *ngFor="let episode of epicat_5">
            {{ episode.label }}
          </li>
        </ng-container>
      </ul>
      <div class="button-area">
        <button class="next" routerLink="/test/preferences">次へ進む</button>
        <button class="back" routerLink="/test/essence">エピソードを選び直す</button>
      </div>
    </div>
  </div>
</main>

<!-- <footer class="half">
  <a href="#" class="back" routerLink="/test/essence">選び直す</a>
  <a href="#" class="next" routerLink="/test/preferences">次へ</a>
</footer> -->
