<main>
  <div class="wrap-recommend">
    <ul *ngIf="err" class="errors">
      <li *ngFor="let msg of err">{{ msg }}</li>
    </ul>
    <div class="recommend-list" *ngIf="activity[0]; else loading">
      <p class="main">あなたにおすすめする遊びを<br><span>{{ data.length }}</span>件見つけました</p>
      <ul class="recommendations">
        <li *ngFor="let act of activity[0]; let i = index" class="recommend-item" [style.background-image]="'url(../assets/img/' + act.act_main_img + '.jpg)'" routerLink="/recommend/{{ act.act_id }}" (click)="onClick(act)">
          <div class="top">
            <div class="title-copy">
              <p class="title">遊びジャンル：{{ act.act_label }}</p>
              <span class="bar"></span>
              <p class="copy">{{ act.act_copy }}</p>
            </div>
            <div class="info">
              <span>あなたへのおすすめ度</span>
              <div class="star-flex">
                <div class="star-wrap">
                  <span class="rate {{ act.rate_classname }}"></span>
                </div>
                <div class="number">
                  {{ act.recommend_rate }}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <ul>
              <li *ngFor="let pref of act.preferences" >{{ pref.pref_label }}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #loading>
      <div class="loading">
        <p class="message">診断中です...</p>
        <div class="loading-icon">
          <img src="../assets/img/icon_loader.gif" alt="">
        </div>
      </div>
      <!--
      <div class="loading2">
        <div class="loading-icon">
          <img src="../assets/img/intro_treasure_big.png" alt="">
        </div>
        <p class="message">診断中です...</p>
      </div>
      -->
    </ng-template>
  </div>
</main>
