<main>
  <div class="wrap-recommend">
    <div class="recommend-list" *ngIf="activity[0]; else elseActivity">
      <p class="main">あなたにおすすめする遊びを<br><span>{{ data.length }}</span>件見つけました</p>
      <ul class="recommendations">
        <li *ngFor="let act of activity[0]; let i = index" class="recommend-item" [style.background-image]="'url(../assets/img/' + act.act_main_img + '.jpg)'" routerLink="/recommend/{{ act.act_id }}" (click)="onClick(act)">
          <div class="top">
            <p class="title">{{ act.act_label }}</p>
            <div class="info">
              <span>あなたへのおすすめ度</span>
              <span>{{ act.act_point }}</span>
            </div>
          </div>
          <div class="bottom">
            <ul>
              <li *ngFor="let pref of act.preferences" >{{ pref.pref_label }}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #elseActivity>
      <div class="loading">
        <p class="message">診断中です...</p>
        <div class="loading-icon">
          <img src="../assets/img/icon_loader.gif" alt="">
        </div>
      </div>
    </ng-template>
  </div>
</main>
