<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">選んだエピソードに力を入れることが<br>できた理由を選んでください。</p>
      <p class="alert">それぞれから必ず一つは選んでね</p>
    </div>
    <div class="preferences">
      <form [formGroup]="form">
        <ul>
          <li>
            <p class="episode" >{{ selectedEpisode[0].label }}</p>
            <ul class="preference-list">
              <li *ngFor="let data of data_0" formArrayName="preference1">
                <input id="{{data.epi_id}}-{{ data.id }}" type="checkbox" name="preference" [value]="data.pref_label" (change)="onChange1(data.pref_label, data.id, $event)" required>
                <label for="{{data.epi_id}}-{{ data.id }}">
                  <p class="label">{{ data.pref_label }}</p>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <p class="episode" >{{ selectedEpisode[1].label }}</p>
            <ul class="preference-list">
              <li *ngFor="let data of data_1" formArrayName="preference2">
                <input id="{{data.epi_id}}-{{ data.id }}" type="checkbox" name="preference" [value]="data.pref_label" (change)="onChange2(data.pref_label, data.id, $event)" required>
                <label for="{{data.epi_id}}-{{ data.id }}">
                  <p class="label">{{ data.pref_label }}</p>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <p class="episode" >{{ selectedEpisode[2].label }}</p>
            <ul class="preference-list">
              <li *ngFor="let data of data_2" formArrayName="preference3">
                <input id="{{data.epi_id}}-{{ data.id }}" type="checkbox" name="preference" [value]="data.pref_label" (change)="onChange3(data.pref_label, data.id, $event)" required>
                <label for="{{data.epi_id}}-{{ data.id }}">
                  <p class="label">{{ data.pref_label }}</p>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </form>
      <div class="button-area">
        <button class="next" type="button" name="button" ontouchstart="" (click)="submit()" [disabled]="!form.valid">STEP3へ進む</button>
      </div>
    </div>
  </div>
</main>

<!-- <footer>
  <button class="next" type="button" name="button" ontouchstart="" (click)="submit()" [disabled]="!form.valid">非本質質問へ進む</button>
</footer> -->
