<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">選んだエピソードに力を入れることが<br>できた理由を選んでください。</p>
      <p class="alert">それぞれから必ず一つは選んでね</p>
    </div>
    <div class="preferences">
      <form class="" action="http://localhost:4200/test/non-essence" method="get">
        <ul>
          <li *ngFor="let selectedEpisode of this.selectedEpisode; let i = index;">
            <p class="episode" >{{ selectedEpisode.epi_label }}{{ this.toChild(selectedEpisode.id) }}</p>
            <app-preference-list></app-preference-list>
          </li>
        </ul>
        <input type="button" name="" value="送信" (click)="submit()">
      </form>
    </div>
  </div>
</main>

<footer>
  <a href="#" (click)="getArray()" class="next" routerLink="/test/non-essence">非本質質問へ進む</a>
</footer>
