<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">それぞれのエピソードについて<br>楽しさや充実感の元は何？</p>
      <p class="alert">各ジャンルから必ず一つは選んでね</p>
    </div>
    <div class="preferences">
      <ul>
        <li>
          <p class="episode">エピソード</p>
          <ul class="preference-list">
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
          </ul>
        </li>
        <li>
          <p class="episode">エピソード</p>
          <ul class="preference-list">
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
          </ul>
        </li>
        <li>
          <p class="episode">エピソード</p>
          <ul class="preference-list">
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
          </ul>
        </li>
        <li>
          <p class="episode">エピソード</p>
          <ul class="preference-list">
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
            <li>嗜好性ラベル</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>

<footer>
  <a href="#" class="next" routerLink="/test/non-essence">非本質質問へ進む</a>
</footer>
