<main class="intro01">
  <div class="image-treasure">
    <!-- <img src="../assets/img/intro_treasure_big.png" alt=""> -->
    <img src="../assets/img/intro_treasure_light.jpg" alt="">
  </div>
  <p class="main-copy">せっかくできた時間<br>遊んでみませんか？</p>
  <p class="sub-copy">あそび診断では、<br>あなたの好みにあった遊びを<br>提案します。</p>
  <!-- <div class="progress">
    <ul>
      <li class="active"></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
  <!-- <a class="next" routerLink="/intro/02" ontouchstart="">次へ</a> -->
  <a class="next" routerLink="/test/basic" ontouchstart="">診断してみる</a>
</main>
