<main>
  <div class="wrap-non-essence">
    <div class="question">
      <p class="main">学生の時に頑張ったことを教えて！！<br>エピソードを三つ選んで！</p>
    </div>
    <div class="answer">
      <form [formGroup]="form">
        <ul formArrayName="options">
          <li *ngFor="let option of options.controls; let i = index">
            <div class="content-area" [formGroupName]="i">
              <p class="q-mark">回答その{{ i + 1 }}</p>
              <p class="q-title">よく遊んでいた人たちやグループを教えてください</p>
              <textarea placeholder="ひとり・家族・バスケ部の同期・サークルの同期" name="name" rows="8" cols="80" formControlName="group"></textarea>
              <p class="q-title">思い出に残ってる遊びを教えてください</p>
              <textarea placeholder="旅行先でいろんな種類の温泉に入ったこと" name="name" rows="8" cols="80" formControlName="asobi"></textarea>
            </div>
            <a href="javascript:void(0)" *ngIf="this.options.length >= 2" (click)="removeOptionForm(i)" class="remove-q">回答欄を減らす</a>
          </li>
        </ul>
      </form>
      <a href="javascript:void(0)"  *ngIf="this.options.length <= 2" class="add-q" (click)="addOptionForm()">回答欄を増やす</a>
    </div>
  </div>
</main>
<footer>
  <a href="#" class="next" routerLink="/test/non-essence/preferences">嗜好性選択画面へ進む</a>
</footer>
