<main>
  <div class="wrap-non-essence">
    <div class="question">
      <p class="main">学生の時に頑張ったことを教えて！！<br>エピソードを三つ選んで！</p>
    </div>
    <div class="answer">
      <ul>
        <li>
          <div class="content-area">
            <p class="q-mark">回答その1</p>
            <p class="q-title">よく遊んでいた人たちやグループを教えてください</p>
            <textarea placeholder="ひとり・家族・バスケ部の同期・サークルの同期" name="name" rows="8" cols="80"></textarea>
            <p class="q-title">思い出に残ってる遊びを教えてください</p>
            <textarea placeholder="旅行先でいろんな種類の温泉に入ったこと" name="name" rows="8" cols="80"></textarea>
          </div>
        </li>
      </ul>
      <a href="#" class="add-q">回答を増やす</a>
    </div>
  </div>
</main>
<footer>
  <a href="#" class="next" routerLink="/test/non-essence/preferences">嗜好性選択画面へ進む</a>
</footer>
