@charset "UTF-8";
/********************
  共通スタイルシート
********************/
/**** 共通 ****/
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

header {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 11px 0; }

header .logo {
  width: 110px;
  margin: 0 auto; }

header .logo img {
  width: 100%; }

/********************
  導入フェーズ01スタイルシート
********************/
body main.intro01 {
  background: radial-gradient(73.01% 73.01% at 50% 26.99%, #262628 0%, #262628 18.8%, #000000 100%);
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro01 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro01 .image-treasure img {
    width: 100%; }
  body main.intro01 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro01 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro01 .progress {
    margin-bottom: 20px; }
    body main.intro01 .progress ul {
      text-align: center; }
      body main.intro01 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro01 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro01 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }

/********************
  導入フェーズ02スタイルシート
********************/
body main.intro02 {
  background-image: url(../img/intro02_bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro02 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro02 .image-treasure img {
    width: 100%; }
  body main.intro02 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro02 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro02 .progress {
    margin-bottom: 20px; }
    body main.intro02 .progress ul {
      text-align: center; }
      body main.intro02 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro02 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro02 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }

/********************
  導入フェーズ03スタイルシート
********************/
body main.intro03 {
  background: radial-gradient(73.01% 73.01% at 50% 26.99%, #262628 0%, #262628 18.8%, #000000 100%);
  text-align: center;
  padding: 80px 10px;
  height: calc(100vh - 160px); }
  body main.intro03 .image-treasure {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  body main.intro03 .image-treasure img {
    width: 100%; }
  body main.intro03 .main-copy {
    color: #FFF;
    font-weight: bold;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  body main.intro03 .sub-copy {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  body main.intro03 .progress {
    margin-bottom: 20px; }
    body main.intro03 .progress ul {
      text-align: center; }
      body main.intro03 .progress ul li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d9d9d9;
        margin: 0 2px; }
        body main.intro03 .progress ul li.active {
          background-color: #FFCD1E; }
  body main.intro03 .next {
    color: #000;
    background-color: #FFF;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    padding: 5px 0px; }

/********************
  診断フェーズ本質質問
********************/
/**** 質問 ****/
main .wrap-essence .question {
  max-width: 80%;
  margin: 0 auto; }
  main .wrap-essence .question p.main {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin: 12px; }
  main .wrap-essence .question p.alert {
    font-size: 1em;
    text-align: center;
    margin: 5px; }

main .wrap-essence .answer ul li {
  background-color: #F3F3F3;
  padding: 14px 20px;
  font-size: 1.6em;
  font-weight: bold; }

/**** 嗜好性選択 ****/
