<header>
  <div class="logo" routerLink="/">
    <img src="../assets/img/logo_asobishindan.png" alt="あそび診断">
  </div>
</header>
<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">学生の時に頑張ったことを教えて！！<br>エピソードを三つ選んで！</p>
      <p class="alert">あとエピソードを3つ選んでね</p>
    </div>
    <div class="episodes">
      <ul>
        <li class="active">
          <div class="checkmark">
          </div>
          <div class="label">
            選択肢1
          </div>
        </li>
        <li>
          <div class="checkmark">
            <img src="" alt="">
          </div>
          <div class="label">
            選択肢1
          </div>
        </li>
        <li>
          <div class="checkmark">
            <img src="" alt="">
          </div>
          <div class="label">
            選択肢1
          </div>
        </li>
        <li>
          <div class="checkmark">
            <img src="" alt="">
          </div>
          <div class="label">
            選択肢1
          </div>
        </li>
        <li>
          <div class="checkmark">
            <img src="" alt="">
          </div>
          <div class="label">
            選択肢1
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer>
  <a class="back" href="#" routerLink="/essence/questions">戻る</a>
</footer>
