<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">学生の時に頑張ったことを教えて！！<br>エピソードを三つ選んで！</p>
      <p class="alert">あとエピソードを3つ選んでね</p>
    </div>
    <div class="episodes">
      <form class="" action="index.html" method="post">
        <ul>
          <li *ngFor="let data of datas">
            <!-- <div class="checkmark"></div>
            <div class="label" routerLink="/test/confirm">{{ data.epi_label }}</div> -->
            <input id="{{ data.epi_label }}" type="checkbox" name="" value="">
            <label id="{{ data.id }}" class="{{ data.epi_label }}" for="{{ data.epi_label }}" (click)="onClickEpisode($event)">
              <div class="checkmark"></div>
              <p class="label">{{ data.epi_label }}</p>
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>
</main>
<footer>
  <a class="back" href="#" routerLink="/test/essence">戻る</a>
</footer>
