<main>
  <div class="wrap-essence">
    <div class="question">
      <p class="main">特に力を入れた活動のエピソードを<br>選んでください。</p>
      <p class="alert">あとエピソードを<span>{{ 3 - count }}</span>つ選んでね</p>
    </div>
    <div class="episodes">
      <form class="" action="index.html" method="post">
        <ul>
          <li *ngFor="let data of datas">
            <input id="{{ data.epi_label }}" type="checkbox" [(ngModel)]="data.checked" (ngModelChange)="changed()" name="test" checked="false">
            <label id="{{ data.id }}" class="{{ data.epi_label }}" for="{{ data.epi_label }}">
              <div class="checkmark"></div>
              <p class="label">{{ data.epi_label }}</p>
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>
</main>
<footer>
  <a class="back" href="#" routerLink="/test/essence">戻る</a>
</footer>
